<footer class="site-footer" id="contact-section">
  <div class="container">
    <div class="footer-col brand-col">
      <div class="logo">
        <span class="logo-main">Evolve<strong class="red-text">In</strong></span>
        <span class="logo-tagline">Change Your Version</span>
      </div>
      <p>At EvolveIn, our mission is to inspire mindful living through awareness and action.
We write about <strong>time</strong>, <strong>Islam</strong> and <strong>life management</strong> — guiding each other toward balance and purpose.
  Our <strong>blogs</strong> are not lessons, but shared reflections from co-learners on the same journey.</p>
      <div class="social-icons">
        <a href="#">f</a>
        <a href="#">i</a>
        <a href="#">X</a>
        <a href="#">▷</a>
      </div>
    </div>
    
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li><a href="{{ '/about/' | relative_url }}">About Us</a></li>
        <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li><a href="#contact-section">Contact Us</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Workout Videos</a></li>
        <li><a href="#">Nutrition Guides</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Success Stories</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Programs</h4>
      <ul>
        <li><a href="{{ '/programs/increase-productivity/' | relative_url }}">Increase Productivity</a></li>
        <li><a href="{{ '/programs/deen/' | relative_url }}">Deen</a></li>
        <li><a href="{{ '/programs/home-workout/' | relative_url }}">Home Workout</a></li>
        <li><a href="{{ '/programs/gym-plan/' | relative_url }}">Gym Plan</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Contact Us</h4>
      <ul class="contact-info">
        <li><span>📍</span> Vatara, Notun Bazar, Dhaka, Banglasesh</li>
        <!-- <li><span>📞</span> 1234-56789</li> -->
        <li><span>✉️</span> evolvein.team@gmail.com</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 EvolveIn | Built with ❤️ by Team EvolveIn</p>
  </div>
</footer>